---
layout: ""
page_title: "Provider: MS SQL Server"
description: The provider can be used to configure objects in Microsoft SQL Server and Azure SQL instances.
---

# MS SQL provider

The provider can be used to configure objects in Microsoft SQL Server and Azure SQL instances.

## Authentication methods

### SQL auth

Provider username and password, using `sql_auth` field:

{{tffile "examples/provider/sql.tf"}}

### Azure AD

In case of Azure SQL connections, Azure Active Directory auth tokens can be used to authenticate.

#### Service Principal

Provide client ID (a.k.a. application ID), secret and tenant ID, using `azure_auth` field:

{{tffile "examples/provider/aad_sp.tf"}}

#### Default chained credentials

When `azure_auth` value is set to empty object (`{}`), the provider uses chained credentials built from `EnvironmentCredential` -> `ManagedIdentityCredential` -> `AzureCLICredential`.

See [DefaultAzureCredential docs](https://github.com/Azure/azure-sdk-for-go/wiki/Set-up-Your-Environment-for-Authentication#configure-defaultazurecredential) for details.

#### Environment variables

When `azure_auth` value is set to empty object (`{}`) and following environment variables are set, the env variable values will be used for authentication, taking precedence over `DefaultAzureCredential`.

- `ARM_CLIENT_ID`
- `ARM_CLIENT_SECRET`
- `ARM_TENANT_ID`

Example:

{{tffile "examples/provider/aad_default.tf"}}

## Computed connection provider configuration

Provider can be used, with certain limitations, with computed provider configuration. For example, provider's `hostname` can be sourced from `azurerm_mssql_server.fully_qualified_domain_name`. As shown in this [Azure SQL example](https://github.com/PGSSoft/terraform-provider-mssql/tree/main/examples/provider/azure_sql.tf)

~> **Warning** When connection details are computed and not known during plan execution (e.g. SQL Server resource returning FQDN is planned to be recreated), the state cannot contain any previously created `mssql_*` resources. In such case error will be reported, as the provider does not have enough information to generate correct plan.

{{ .SchemaMarkdown | trimspace }}
